html body{
    width: 100%;
    background-color: antiquewhite;
    color: dodgerblue;
    padding: 20px;
}

.nav-item {
    margin-left: 30px;
    margin-right: 30px;
}

#header{
    padding: 20px;
    margin: 20px;
}

#header h1{
    font-size: 8em;
}
footer{
    text-align: center;
}

#navigation{
    background-color: lightgrey;
    color: antiquewhite;
    margin-top: 20px;
}

.error{
    color: red;
    font-style: italic;
}

button {
    margin-left: 30px;
}

btn {
    margin-right: 30px;
}
#userform{
    text-align: left;
}
