html body {
    width: 100%;
    background-color: antiquewhite;
    color: dodgerblue;
    padding: 20px;
    margin-bottom: 20px;
}

.nav-item {
    margin-left: 30px;
    margin-right: 30px;
}

#header {
    padding: 20px;
    margin: 20px;
}

#header h1 {
    font-size: 5em;
}

h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

footer {
    width: 100%;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 10000;
    height: 30px;
    background-color: lightgrey;
    color: dodgerblue;
}

#navigation {
    background-color: lightgrey;
    color: antiquewhite;
    margin-top: 20px;
}

.error {
    color: red;
    font-style: italic;
}

button {
    margin-right: 20px;
}

#cart {
    margin-left: 20px;
}

#userform {
    text-align: left;
}
