<!--Brecht-->
<!DOCTYPE html>
<html lang="en"
xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
</head>
<body>
<div th:replace="~{menu::header}"></div>
<div th:replace="~{menu::navigation}"></div>
<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Diersoort</th>
            <th>Prijs</th>
            <th>Details</th>
            <th>Toevoegen</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="Product:${all}">
            <td th:text="${Product.name}"></td>
            <td th:text="${Product.species}"></td>
            <td th:text="${Product.price}"></td>
            <td><a class="button">Toon meer details</a></td>
            <td><a class="button" th:href="@{/index/add/{id}(id = ${Product.id})}">Voeg toe aan mandje</a></td>
        </tr>
    </tbody>
</table>
<div th:replace="~{menu::footer}"></div>
</body>
</html>