<!--Brecht-->
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>menu</title>

    <!-- scripts datatable-->
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <scrpit src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></scrpit>
    <script>
        $(document).ready(function() {
            $('#producttable').DataTable();
        } );
    </script>

</head>
<body>
<div th:fragment="header">
    <h1>
        Tim & Co
    </h1>
    <button><a th:href="@{/basket}">Toon Mandje</a>></button>
</div>
<nav th:fragment="navigation">
    <ul>
        <li>
            <a th:href="@{/index/{voeding}(voeding='Voeding')}">Voeding</a>
        </li>
        <li>
            <a th:href="@{/index/{speelgoed}(speelgoed='Speelgoed')}">Speelgoed</a>
        </li>
        <li>
            <a th:href="@{/index/{habitat}(habitat='Habitat')}">Habitat</a>
        </li>
    </ul>
</nav>
<footer th:fragment="footer">
    &copy;Tim&Co BVBA, 2018
</footer>
</body>
</html>